.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 0px;
    padding-bottom: 3px;
    background-color: #fff;
    width: 50%;
    max-height: auto;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post_header {
    display: flex;
    align-items: top;
    padding: 0px 12px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.interactive_profile {
    display: flex;
}

.interactive_profile:hover{
    cursor: pointer;
}

.interactive_profile img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 8px;
}

.timestamp {
    color: #888;
    font-size: 12px;
    margin-top: 4px;
}

.post_caption {
    padding: 0px 12px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
}

.multimedia {
    margin-bottom: 3px;
    max-width: 100%;
}

.multimedia img, .multimedia video, .multimedia audio {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 0%;
}

.post_info_bar, .interaction_bar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:2px 2.5%;
}

.interaction_bar {
    margin-top: 3px;
    padding: 2px 20%;
}

.info_bar_left img{
    height: 15px;
    width: auto;
    border-radius: 0%;
    margin-right: 5px;
}

.like_count, .comment_count {
    font-size: 14px;
    color: #555;
}

.like_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.like_button img{
    max-height: 20px;
    height: auto;
    width: auto;
    border-radius: 0;
}

.like_button:active{
    opacity: 0.8;
}

.comment_button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.comment_button:hover{
    text-decoration: underline;
}

.separator {
    border: none;
    border-top: 1px solid #ddd; /* Subtle separator line */
    margin: 8px 0; /* Adjust margin as needed */
    width: 95%; /* Adjust width as needed */
    margin: 0 auto; /* Center the separator */
}