.users_list {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 87vh;
    overflow-y: auto;
}

.users_list::-webkit-scrollbar {
    width: 8px;
}

.users_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.users_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users_list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.users_list ul li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.users_list ul li:last-child {
    border-bottom: none;
}

.users_list ul li:hover {
    background: #d7e9ff;
}