* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.split_screen{
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.split_screen::-webkit-scrollbar {
    width: 8px;
}

.split_screen::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της γραμμής κύλισης */
    border-radius: 4px; /* Στρογγυλεμένες άκρες */
}

.split_screen::-webkit-scrollbar-thumb:hover {
    background: #555; /* Χρώμα της γραμμής κύλισης όταν περνάει το ποντίκι */
}

.link_up_requests_field, .post_notifications_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ευθυγράμμιση στην αριστερή πλευρά */
    justify-content: flex-start; /* Ευθυγράμμιση στην κορυφή */
    flex: 1; /* Ίση κατανομή ύψους */
    padding: 20px;
    position: relative; /* Προσθήκη για τη διαχείριση θέσης */
}

.link_up_requests_field {
    background-image: linear-gradient(rgba(0, 1, 50, 0.8), rgba(49, 50, 0, 0.8)), url(../../Images/link_up_requests_background_ergasiaSite.png);
}

.requests_header {
    color: white;
    margin-bottom: 10px; /* Μικρό διάστημα κάτω από το h2 */
    margin-left: 30px;
}

.noRequestsMessage {
    color: white;
    margin-left: 30px; /* Διατήρηση της ευθυγράμμισης με το h2 */
    align-self: center; /* Κεντραρισμένο */
    margin-top: 50px; /* Προσθήκη διαστήματος από το h2 */
}

.post_notifications_field {
    background-image: linear-gradient(rgba(0, 1, 50, 0.8), rgba(49, 50, 0, 0.8)), url(../../Images/post_notifications_background_ergasiaSite.png);
    width: 100%;
    padding-left: 50px;
    overflow-y: auto; /* Κάθετη κύλιση αν τα στοιχεία δεν χωράνε */
}

.post_notifications_field h2 {
    color: white;
    align-self: flex-start; /* Στοίχιση στα αριστερά */
    margin-bottom: 5px;
}
