.jobs_page{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.jobs_page_content_container{
    display: flex;
    background-color: antiquewhite;
    /* position: fixed; */
    width: 100%;
    height: calc(100vh - 60px);
    padding: 2.5vh 0px;
    /* background-image: linear-gradient(rgba(0, 1, 50, 0.8), rgba(49, 50, 0, 0.8)), url(../../Images/ergasia_welcome_page_image.png); */
    overflow-x: hidden;
    overflow-y: auto;
    /* z-index: -1; */
}

.jobs_timeline{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto 20%;
    border-radius: 5px;
    width: 60%;
    background-color: #fff;
    padding: 0 15px;
    padding-bottom: 10px;
    overflow-y: auto;
    height: calc(95vh - 60px);
    transition-duration: 0.5s;
    transition: margin-left,margin-right 0.5s opacity 0.8s;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    overflow-x: hidden;
}

.jobs_timeline_header{
    display: flex;
    justify-content: space-between;
    align-items:end;
    /* background-color: rgb(155, 227, 227); */
    border-bottom: 2px solid #a02500;
    padding: 10vh;
    line-height: 5vh;
    max-height: 8vh;
    padding: 5px 0;
    font-size: larger;
    font-weight: bold;
    z-index: 2;
}

.jobs_timeline_expanded{
    margin-left: 5%;
    margin-right: 1%;
}

.job_listings_container{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    overflow-y: auto;
    margin-right: -15px;
    padding-right: 15px;
}

.job_listings_container::-webkit-scrollbar {
    width: 8px;
}

.job_listings_container::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της γραμμής κύλισης */
    border-radius: 4px; /* Στρογγυλεμένες άκρες */
}

.job_listings_containerjob_listings_container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Χρώμα της γραμμής κύλισης όταν περνάει το ποντίκι */
}

.job_listing{
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}

.job_listing:hover{
    cursor: pointer;
}

.job_listing:hover .job_listing_header{
    text-decoration: underline;
    color: #a02500;
}


.job_listing_header{
    /* background-color: #7fffaa; */
    display: flex;
    flex-direction: column;
}

.job_title{
    width: fit-content;
    color: #a02500;
    font-size: larger;
    font-weight: bold;
}

.job_title:hover{
    text-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}

.employer{
    font-size: large;
    font-weight: 500;
}

.job_listing_main_body{
    color: #565656;
    margin-bottom: 3px;
    border-bottom: 1px solid #a02500;
}

.job_listing_footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 2.5vh;
}

.job_listing_info_bar{
    color: #555;
}

.job_listing_interaction_bar{
    display: flex;
}

.job_listing_button{
    padding: 5px;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: 2vh;
    border: 2.5px solid #a02500;
    background-color: #a02500;
    color: #fff;
}

.applied{
    background-color: #fff;
    color: #a02500;
}

.job_listing_button:hover{
    background-color: #a02500a7;
    cursor: pointer;
}

.applied:hover{
    background-color: #a0250077;
}

