.create_job_listing{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.5vh;
    overflow-y: auto;
    margin-right: -15px;
    padding-right: 15px;
}

.create_job_listing::-webkit-scrollbar {
    width: 8px;
}

.create_job_listing::-webkit-scrollbar-thumb {
    background: #888; /* Χρώμα της γραμμής κύλισης */
    border-radius: 4px; /* Στρογγυλεμένες άκρες */
}

.create_job_listing::-webkit-scrollbar-thumb:hover {
    background: #555; /* Χρώμα της γραμμής κύλισης όταν περνάει το ποντίκι */
}

.create_job_listing_interaction_bar{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    margin-top: 2vh;
    gap: 2%;
    margin-right: 0; 
}

.create_job_listing_interaction_bar button{
    background-color: #a02500;
    border-radius: 1vh;
    border: 2.5px solid #a02500;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    transition: border-radius 0.2s;
}

.create_job_listing_interaction_bar button.altern{
    margin-right: 5px;
    background-color: #fff;
    color: #a02500;
}

.create_job_listing_interaction_bar button:hover{
    cursor: pointer;
    opacity: 0.8;
    border-radius: 2vh;
}

.create_job_listing_interaction_bar button:active{
    opacity: 1;
}

.job_field_container textarea{
    height: 15vh;
}

.job_field_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1vh;
}

.job_field_container label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.job_field_container input,
.job_field_container textarea{
    width: 100%;
    padding: 1vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.job_field_container input.error,
.job_field_container textarea.error{
    border: 2px solid rgb(255, 0, 0);
}

.job_field_container textarea{
    resize: none;
}

.job_field_container input:focus,
.job_field_container textarea:focus {
    border-color: #a02500;
    outline: none;
}

.dual_field{
    display: flex;
    margin-bottom: 1vh;
    /* background-color: red; */
}

.working_arrangement{
    display: flex;
    justify-content: space-between;
    width: 60%;
    /* margin: auto; */
}

.category_selection_button{
    padding: 7px 15px;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border: 2.5px solid #a02500;
    background-color: #fff;
    color: #a02500;
    width: 100%;
}

.selected{
    background-color: #a02500;
    color: #fff;
}

.category_selection_button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.vertical_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .5vh;
    /* margin: auto; */
}

.error_message{
    padding: 13px 7px;
    background: rgba(255, 0, 0, 0.247);
    border-radius: 15px;
    border: 2px solid rgb(218, 0, 0);
}

.error_message b{
    font-style: italic;
    color: #353535;
}