.notifications_list {
    display: flex;
    align-self: baseline;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    width: 70%;
    justify-content: start;
    padding-right: 8px;
    max-height: 370px;
}

.notifications_list::-webkit-scrollbar {
    width: 8px;
}

.notifications_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.notifications_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}