.loading_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    color: #333;
}

.admin_page{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    background-image: linear-gradient(rgba(0, 1, 50, 0.8), rgba(49, 50, 0, 0.8)), url(../../Images/admin_background_ergasiaSite.jpg);
    z-index: -1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin_page h1{
    color: white;
}

.categories{
    display: flex;
    margin: 5px 0;
}

.category, .select_category, .options_category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: wheat;
    border: 1px solid black;
}

.category{
    width: 250px;
}

.select_category{
    width: 50px;
}

.options_category{
    width: 450px;
}

.users{
    width: 1000px;
}

.export_buttons {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.export_buttons button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.export_buttons button:hover {
    background-color: #0056b3;
}

.export_buttons button.disabled{
    background-color: #5a5a5a;
    cursor: auto;
}
