.job_listing{
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}

.job_listing:hover{
    cursor: pointer;
}

.job_listing:hover .job_listing_header{
    text-decoration: underline;
    color: #a02500;
}


.job_listing_header{
    display: flex;
    flex-direction: column;
}

.job_title{
    width: fit-content;
    color: #a02500;
    font-size: larger;
    font-weight: bold;
}

.job_title:hover{
    text-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}

.employer{
    font-size: large;
    font-weight: 500;
}

.job_listing_main_body{
    color: #565656;
    margin-bottom: 3px;
    border-bottom: 1px solid #a02500;
}

.job_listing_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job_listing_info_bar{
    font-size: medium;
    color: #555;
}

.job_listing_interaction_bar{
    display: flex;
}

.job_listing_button{
    padding: 7px 15px;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border: 2.5px solid #a02500;
    background-color: #a02500;
    color: #fff;
}

.job_listing_button:hover{
    background-color: #a02500a7;
    cursor: pointer;
}

.applied{
    background-color: #fff;
    color: #a02500;
}

.applied:hover{
    background-color: #a0250077;
}

.applicants_button{
    padding: 7px 15px;
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    border: 2.5px solid #269b7c;
    background-color: #269b7c;
    color: #fff;
}

.applicants_button:hover{
    background-color: #269b7ca7;
    cursor: pointer;
}