.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.container::-webkit-scrollbar{
    width: 8px;
}

.container::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.timeline{
    width: 80%;
    margin-right: auto;
}

.create_post_container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #e2dada;
    width: 50%;
    margin: auto;
    padding: 3px;
}


.create_post_header{
    padding: 3px;
    border-bottom: 1px solid;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 3px;
}

.create_post_preview{
    background-color: #fff;
    padding: 3px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

.post_preview_header{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding: 3px;
    margin-bottom: 3px;
}

.user_pfp{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
    margin-left: 0px;
}

.user_username{
    font-size: medium;
    font-weight: bold;   
}
.post_preview_content_container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding-top: 0%;
    /* border-radius: 5px; */
    transition-duration: 0.2s;
    border-top: 1px solid;
    border-color: #5555;
    overflow-y: hidden;
    max-height: 15vh;
    height: 100vh;
    
}

.post_preview_content_container_expanded{
    max-height: 50vh;
    height: 50vh;
    overflow: auto;
}

.post_preview_content_container_expanded::-webkit-scrollbar{
    width: 8px;
}

.post_preview_content_container_expanded::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.post_preview_content_container_expanded::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}


.create_post_caption_area{
    padding: 5px;
    border: none;
    margin: auto;
    margin-top: 0px;
    width: 100%;
    font-size: 100%;
    resize: none;
    overflow-y: auto;
    min-height: 15vh;
}

.create_post_caption_area::-webkit-scrollbar{
    width: 6px;
}

.create_post_caption_area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.create_post_caption_area::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.create_post_caption_area_expanded{
    max-height: 50%;
}

.create_post_caption_area:focus{
    outline: none;
}

.post_preview_multimedia_container{
    margin: auto;
    /* margin-bottom: 0px; */
    display: flex;
    width: 100%;
}

.multimedia_component{
    height: 50%;
}


.post_preview_multimedia{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}


.create_post_control_bar{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    /* background-color: red; */
    width: 85%;
    margin: auto;
    margin-top: 3px;
    transition-duration: 0.2s;
}

.adding_multimedia{
    width: 50%;
}

.create_post_button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    border-radius: 15px;
    border: none;
    padding: 7.5px;
    font-size: 2.5vh;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
}

.create_post_button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.create_post_button:active{
    opacity: 1;
}

.add_image_button{
    background-color: #FFBF59;
    color: #444;
}

.add_video_button{
    background-color: #FC588F;
    color: #444;
}

.add_audio_button{
    background-color: #3ac5a0;
    color: #444;
}


.publish_button{
    background-color: #a02500;
    color: #fff;
}

.drag_and_drop_box svg path{
    fill: #a02500;
}

/* Override default imported styles */
.drag_and_drop_box{
    border-color: #a02500 !important;
    margin: auto !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
}

.loading_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: xx-large;
    color: #333;
}
