.loading_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: xx-large;
    color: #a02500;
    margin: 50px auto;
}

.requests_list_container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.requests_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    width: calc(100% - 60px); /* Subtract the icons' width */
    justify-content: start;
    padding-bottom: 10px;
}

.requests_list::-webkit-scrollbar {
    height: 8px;
}

.requests_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.requests_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.angles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #a02500;
    cursor: pointer;
    z-index: 1;
}

.angles:first-child {
    left: 0;
}

.angles:last-child {
    right: 0;
}

.noRequestsMessage {
    color: white;
    align-self: center;
    margin: 50px auto;
}