.navbar{
    background-color: rgb(237, 244, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.navbar-left{
    margin-left: 0;
    justify-self: flex-start;
}

.navbar-center ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.navbar-navigate-button{
    border: none;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 13px;
    background: none;
    font-size: medium;
    transition: background-color 0.2s ease-in-out;
}

.navbar-navigate-button:hover{
    cursor: pointer;
    background: #a02500;
    
    background-color: #a0250066;
}

.navbar-navigate-button:active{
    transition-duration: 0.2s;
    background-color: #a02500c0;
}