body{
    margin: 0;
}

div.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    background-color: #aacbff;
    border-bottom: .1em solid #7EB0FF;
}

div.LR_buttons{
    display: flex;
    gap: 10px;
}

button.home {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border-color: transparent;
}

button.login, button.register {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border-color: transparent;
}

button.login {
    color: white;
    background-color: blue;
}

button.register {
    color: black;
    background-color: #43DD00;
}