.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid_item {
    display: flex;
    justify-content: center;
}

.loading_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: xx-large;
    color: white;
}

.empty_network h3{
    width: 25%;
    margin: 150px auto;
    font-style: italic;
    color: white;
}